
.recommended-profile-card{
    height: 80vh;
  }
    /* Style the heart and X buttons */
  .button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    margin-top: 40px;
    gap: 50px;
  }

/* Styles for the button icons (adjust as needed) */
.button-container button i {
  color: #fff; /* Adjust the icon color */
  font-size: 24px; /* Adjust the icon size */
  position: relative;
  z-index: 1; /* Ensure icons are above the pseudo-elements */
}

  .heart-button,
  .cross-button {
    border: none;
    border-radius: 50%; /* Make the buttons circular */
    cursor: pointer;
    font-size: 16px; /* Adjust font size for smaller buttons */
    width: 50px; /* Set button width */
    height: 50px; /* Set button height */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px; /* Add spacing between the buttons */
  }

  .heart-button{
    background-color: #ff4d4d; /* Heart button color */
  }
  
  .cross-button {
    background-color: #777; /* X button color */
  }

  span {
    font-size: 0.8rem;
  }

  label {
    color: #9d1111;
  }