
.user-profile-card {
    height: 80vh;
  }
  /* Adjust the position of the card's bottom border */
  .user-profile-card::after {
    content: '';
    position: absolute;
    bottom: -20%; /* Move the border up by 20% of the screen height */
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Border color */
  }
    /* Style the heart and X buttons */
  .button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    margin-top: 40px;
    gap: 30px;
  }
  
  .heart-button,
  .cross-button {
    border: none;
    border-radius: 50%; /* Make the buttons circular */
    cursor: pointer;
    font-size: 16px; /* Adjust font size for smaller buttons */
    width: 40px; /* Set button width */
    height: 40px; /* Set button height */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px; /* Add spacing between the buttons */
  }

  .heart-button{
    background-color: #ff4d4d; /* Heart button color */
  }
  
  .cross-button {
    background-color: #777; /* X button color */
  }

  